<!--start here-->

<div data-ng-controller="HeaderController">


  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="android-title mdl-layout-title">
            <!---->
            <a  href="/#!/">Carpool</a>
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
      <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search-field">
        </div>
      </div>
      <!-- Navigation -->
      <div class="android-navigation-container">
        <nav class="android-navigation mdl-navigation">
          <!--<a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Home</a>
              
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">TV</a>-->
          <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType"
              ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
              <a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
              <ul ng-switch-when="dropdown" class="dropdown-menu">
                <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);"
                  ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                  <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title" class="page-scroll"></a>
                </li>
              </ul>
              <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
            </li>
          </ul>


          <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
            <li ui-route="/signup" ng-class="{active: $uiRoute}">
              <a href="/#!/signup">Sign Up</a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-route="/signin" ng-class="{active: $uiRoute}">
              <a href="/#!/signin">Sign In</a>
            </li>
          </ul>


          <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
<!--<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i>
        </a>
        </li>-->
              <ul class="dropdown-menu">
                <li>
                  <a href="/#!/settings/profile">Edit Profile</a>
                </li>
                <li>
                  <a href="/#!/settings/accounts">Manage Social Accounts</a>
                </li>
                <li data-ng-show="authentication.user.provider === 'local'">
                  <a href="/#!/settings/password">Change Password</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="/auth/signout">Signout</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <span class="android-mobile-title mdl-layout-title">
            <img class="android-logo-image" src="../../../images/android-logo.png">
          </span>
      <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
      
    </div>
  </div>

  
</div>