<div class="container">
<section class="row text-center">
	<h3 class="col-md-12">Password reset is invalid</h3>
	<a href="/#!/password/forgot" class="col-md-12">Ask for a new password reset</a>
</section>
</div>