<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<p>Thank you {{name}},</p>
	<p></p>
	<p>This is a confirmation that the password for your account has just been changed</p>
	<br>
	<br>
	<p>The {{appName}} Support Team</p>
</body>
</html>