<section data-ng-controller="NeedsController">
   <div id="blue">
        <div class="container">
            <div class="row">
                <h3>Create New CarPool Need Post</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->



    <!--<input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>-->

    <section class="container">
        <div class="col-md-12">
            <form class="form-horizontal" data-ng-submit="create()" novalidate>
                <fieldset>
                    <div class="form-group input-field">
                        <i class="material-icons prefix">mode_edit</i>
                        <!--<div class="controls input-field">-->
                            <input type="text" data-ng-model="title" id="title" class="form-control validate"  required>
                        <!--</div>-->
                        <label class="control-label" for="title">Title</label>
                    </div>



                    <div class="form-group input-field">
                        <i class="material-icons prefix">description</i>
                        <!--<div class="controls">-->
                            <textarea name="description" data-ng-model="description" id="description" class=" materialize-textarea" data-length="120"></textarea>
                             <label class="control-label" for="description">Description</label>
                        <!--</div>-->
                    </div>
                    <div class="form-group input-field">
                         <i class="material-icons prefix">airplay</i>
                      
                       
                            <input type="text" data-ng-model="typeOfTransport" id="typeOfTransport" class="form-control"  required>
                         <label class="control-label" for="typeOfTransport">Type of Transport</label>
                    </div>




                    <div class="form-group input-field">
                        <i class="material-icons prefix">business</i>
                        
                        
                            <input type="text" data-ng-model="location" id="location" class="form-control"  required>
                      
                        <label class="control-label" for="location">Location</label>
                    </div>



                    <div class="input-field form-group">
                       <i class="material-icons prefix">today</i>
                           
                           <input type="date" class="datepicker" data-ng-model="startDate" class="form-control"  required>
                             <!--<input type="date" class="datepicker">-->
  
                                <!--<datepicker  show-weeks="false" class="well well-sm"></datepicker>-->
                                 <!--<label class="control-label " for="startDate" >Start Date</label>-->
                            
                        </div>



                        <div class="input-field">
                            
                            <i class="material-icons prefix">today</i>
                                <input type="date" class="datepicker" data-ng-model="endDate" id="endDate" class="form-control"  required>
                                <!--<datepicker  show-weeks="false" class="well well-sm"></datepicker>-->
                                <!--<label class="control-label" for="endDate">End Date</label>-->
                           
                        </div>
                    </div>
<div class="form-group input-field">
                        <i class="material-icons prefix">location_on</i>
                        
                        
                            <input type="text" data-ng-model="from" id="from" class="form-control"  required>
                      
                        <label class="control-label" for="from">From</label>
                    </div>


                    <div class="form-group input-field">
                        <i class="material-icons prefix">my_location</i>
                        
                        
                            <input type="text" data-ng-model="to" id="to" class="form-control"  required>
                      
                        <label class="control-label" for="to">To</label>
                    </div>

                    

<div class="input-field"> 
      <i class="material-icons prefix">perm_media</i>

    <input type="text" data-ng-model="typeOfTrip" id="typeOfTrip" class="form-control validate"  required>

    <label>Type of trip</label>
  </div>







                    <div class="form-group input-field">
                    
                       <i class="material-icons prefix">  supervisor_account</i>
                       
                            <input type="number" data-ng-model="numberNeeded" id="numberNeeded" name="numberNeeded" 
                                class="form-control" required min="1" value="1" >
                                  <label class="control-label" for="numberNeeded">Number of people needed</label>
                        
                    </div>


<div class="switch form-group input-field">

                       <i class="material-icons prefix">  done</i>
                       
    <label>
      Off
      <input type="checkbox" data-ng-model="isActive">
      <span class="lever"></span>
      On
    </label>
  </div>

<br><br><br>

                    <div class="form-group">
                        <!--<i class="material-icons right" >send</i>
                        <input type="submit" class="btn btn-default">-->
                         

                          <button class="btn waves-effect waves-light" type="submit" name="action" data-ng-click="create()">Submit
    <i class="material-icons right">send</i>
  </button>
                    </div>
    				<div data-ng-show="error" class="text-danger">
    					<strong data-ng-bind="error"></strong>
    				</div>
                </fieldset>
            </form>
        </div>
    </section>
</section>
