<section data-ng-controller="NeedsController" data-ng-init="findOne()">
 
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>Edit Carpool Need Post</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->

    <section class="container">
        <form name="needForm" class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class=" input-field">
                        <i class="material-icons prefix">mode_edit</i>
                         <label class="control-label" for="title">Title</label>
                        <!--<div class="controls input-field">-->
                            <br>
                            <input type="text" data-ng-model="need.title" id="title" class="form-control validate"  required>
                        <!--</div>-->
                       
                    </div>





                <div class="form-group input-field">
                        <i class="material-icons prefix">description</i>
                        <!--<div class="controls">-->
                              <label class="control-label" for="description">Description</label>
                             <br>
                            <textarea name="description" data-ng-model="need.description" id="description" class=" materialize-textarea" data-length="120"></textarea>
                           
                        <!--</div>-->
                    </div>
                
                
               <div class="form-group input-field">
                         <i class="material-icons prefix">airplay</i>
                       <label class="control-label" for="typeOfTransport">Type of Transport</label>
                       <br>
                       
                            <input type="text" data-ng-model="need.typeOfTransport" id="typeOfTransport" class="form-control"  required>
                        
                    </div>
                     <div class="input-field form-group">
                       <i class="material-icons prefix">today</i>
                       <br>
                           
                           <input type="date" class="datepicker" data-ng-model="startDate" class="form-control"  required>
                             <!--<input type="date" class="datepicker">-->
  
                                <!--<datepicker  show-weeks="false" class="well well-sm"></datepicker>-->
                                 <!--<label class="control-label " for="startDate" >Start Date</label>-->
                            
                        </div>



                        <div class="input-field">
                            
                            <i class="material-icons prefix">today</i>
                            <br>
                                <input type="date" class="datepicker" data-ng-model="need.endDate" id="endDate" class="form-control"  required>
                                <!--<datepicker  show-weeks="false" class="well well-sm"></datepicker>-->
                                <!--<label class="control-label" for="endDate">End Date</label>-->
                           
                        </div>
                    </div>


<div class="form-group input-field">
                        <i class="material-icons prefix">location_on</i>
                        <label class="control-label" for="from">From</label>
                        <br>
                        
                            <input type="text" data-ng-model="need.from" id="from" class="form-control"  required>
                      
                        
                    </div>


                    <div class="form-group input-field">
                        <i class="material-icons prefix">my_location</i>
                          <label class="control-label" for="to">To</label>
                          <br>
                        
                        
                            <input type="text" data-ng-model="need.to" id="to" class="form-control"  required>
                      
                      
                    </div>




<div class="input-field"> 
      <i class="material-icons prefix">perm_media</i>
       <label>Type of trip</label>
       <br>

    <input type="text" data-ng-model="need.typeOfTrip" id="typeOfTrip" class="form-control validate"  required>

   
  </div>







                    <div class="form-group input-field">
                    
                       <i class="material-icons prefix">  supervisor_account</i>
                          <label class="control-label" for="numberNeeded">Number of people needed</label>
                          <br>
                       
                            <input type="number" data-ng-model="need.numberNeeded" id="numberNeeded" name="numberNeeded" 
                                class="form-control" required min="1" value="1" >
                               
                        
                    </div>


<div class="switch form-group input-field">

                       <i class="material-icons prefix">  done</i>
                       
    <label>
      Off
      <input type="checkbox" data-ng-model="need.isActive">
      <span class="lever"></span>
      On
    </label>
  </div>
<br><br><br>

 <div class="form-group">
                        <!--<i class="material-icons right" >send</i>
                        <input type="submit" class="btn btn-default">-->
                         

                          <button class="btn waves-effect waves-light" type="submit" name="action" data-ng-click="update()">Update
    <i class="material-icons right">send</i>
  </button>
                    </div>
    				<div data-ng-show="error" class="text-danger">
    					<strong data-ng-bind="error"></strong>
    				</div>
            </fieldset>
        </form>

    </div>
</section>
