<div class="container">
<section data-ng-controller="NeedsController" data-ng-init="find()">

    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>CarPool Needs NewFeeds</h3>
                    <a data-ng-href="#!/needs/create" class="btn btn-default">New Carpool post</a>
                    <div class="alert alert-warning text-center" data-ng-hide="!needs.$resolved || needs.length">
            No Carpool Post yet, why don't you <a href="/#!/needs/create">create one</a>?
        </div>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->

    <section class="container">
        <div data-ng-repeat="need in needs">
<br>
            <!--start here-->
            <!--<div class="row">-->
    <div class="col s12 m12">
        <div class="card">
        <div class="card-image">
          <img src="https://s-media-cache-ak0.pinimg.com/originals/60/e0/7b/60e07bc05a37114b8694cfad496618c9.jpg">
          
          <a class="btn-floating halfway-fab waves-effect waves-light red" data-ng-href="#!/needs/{{need._id}}"><i class="material-icons">play_arrow</i></a>
        </div>
        <div class="card-content">
            <span class="card-title">{{need.title | uppercase}}</span>
          <p>{{need.description}}</p>
          <p>This carpool needs {{need.numberNeeded}} {{need.numberNeeded > 1 ? " people" : " person"}}.</p>
           <!--<p><csmall>{{need.createdOn}}</csmall></p>-->
            <a data-ng-href="#!/needs/{{need._id}}">Ping a message</a>
        </div>
      </div>
      
    </div>
  <!--</div>-->
        </div>


            <!--end here-->
          
           
          
            
               
            


         

    </section>
    
</section>
<div class="col-md-6">
 <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  </div>
</div>