<section data-ng-controller="NeedsController" data-ng-init="findOne()">

    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>{{need.title | uppercase}}</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->
    
    <section class="container">


	<div class="container">
	 	<div class="row">	 		
	 		<div class="col-lg-8">
		 		<h4>{{need.title}}</h4>
		 		<div class="hline"></div>
		 			<p>
		 				{{need.description}}
		 			</p>		 			
		 			<p>
						This carpool slot needs {{need.numberNeeded}} {{need.numberNeeded > 1 ? " people" : " person"}}.		
					</p>
					<p>Type of transport :{{need.typeOfTransport}}</p>
					<p>Location: {{need.location }}</p>
					<p>From : {{need.from}}</p>
					<p>To : {{need.to}}</p>
					<p>Type of trip : {{need.typeOfTrip }}</p>
					<p>Start data : {{need.startDate | date:"d MMM YYYY"}}</>
					<p>End data : {{need.endDate | date:"d MMM YYYY"}}</>
					<p>Created by : {{need.createdBy}}</p>
		 			<small>
						<em class="text-muted">
							Posted on
							<span data-ng-bind="need.createdOn | date:'mediumDate'"></span>							
						</em>
					</small>
				<div>
					<div class="pull-left" data-ng-show="authentication.user.roles[0]==='admin'">
						<a class="btn btn-primary" href="/#!/needs/{{need._id}}/edit">
							 <i class="material-icons">settings</i>
						</a>
						<a class="btn btn-primary" data-ng-click="remove();">
							<i class="material-icons">delete</i>
						</a>
					</div>
				</div>
	 		</div>
<hr>
			 <div class="col-lg-4">
				 <h4>Reserve a slot </h4>
				 <a class="waves-effect waves-light btn" data-ng-click="reserve()">Reserve</a>
			 </div>




<hr>
	 		<div class="col-lg-4">
	 			<h4 data-ng-hide="authentication.user">Sign up to ping a message for the driver !</h4>
				 <h4 data-ng-show="authentication.user">Ping a message for the driver !</h4>
	 			<div class="hline"></div>
	 			<p>Thank you for signing up for the volunteer opportunity "{{need.title}}".  {{need.location}} really appreciates your help!</p>
	 			<form role="form" data-ng-submit="signUp(need)">
				  <div class="form-group">
				    <label for="volunteerName">Your Name</label>
				    <input type="text" class="form-control" id="volunteerName" data-ng-model="signUpData.name">
				  </div>
				  <div class="form-group">
				    <label for="volunteerEmail">Email address</label>
				    <input type="email" class="form-control" id="volunteerEmail" data-ng-model="signUpData.email">
				  </div>
				  <div class="form-group">
				  	<label for="volunteerMessage">Message</label>
				  	<textarea class="form-control" id="people" rows="3" data-ng-model="signUpData.message"></textarea>
				  </div>
					<input type="hidden" data-ng-model="signUpData.need_id" value="{{need._id}}"/>
					<input type="hidden" data-ng-model="signUpData.needTitle" value="{{need.title}}"/>
				  <button type="submit" class="btn btn-theme">Submit</button>
				</form>
			</div><! --/col-lg-4 -->

	 	</div><! --/row -->
	 </div><! --/container -->

	 
</section>
