<section data-ng-controller="ContactsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="contact.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == contact.user._id">
		<a class="btn btn-primary" href="/#!/contacts/{{contact._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="contact.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="contact.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="contact.content"></p>
</section>